.video-section {
    padding: 0;
    background: #f8f9fc;
    width: 100%;
    overflow: hidden;
}

.video-banner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.video-image {
    width: 100%;
    height: 650px;
    object-fit: cover;
    display: block;
}

.video-banner::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, .25);
}

.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: none;
    background: #ff5a1f;
    color: #fff;
    font-size: 42px;
    z-index: 2;
    cursor: pointer;
    transition: .35s;
}

.play-btn:hover {
    transform: translate(-50%, -50%) scale(1.1);
    background: #111;
}

.play-btn i {
    margin-left: 4px;
}